.root {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  //background-image: linear-gradient(30deg,
  //        rgba(2, 0, 36, 1) 0%,
  //        rgba(100, 151, 255, 0.77) 37%,
  //        rgba(2, 0, 36, 1) 50%,
  //        rgba(100, 151, 255, 0.77) 82%,
  //        rgba(2, 0, 36, 1) 100%) !important;
  //background-image: url('../../public/static/img/header.jpg');
  background-color: rgba(0,0,0,.95);
  padding: 0 35px 0 10px;
  height: 80px;
  margin-bottom: 14px;
  z-index: 2;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  margin-left: 10px;
}

.avatar {
  margin-left: 15px;
  border-radius: 20% !important;
  margin-right: 6px;
}

.penButton {
  padding: 4px 20px !important;
  background-color: #fff !important;
  min-width: 40px !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
  @media (max-width: 740px) {
    padding: 4px !important;
    span {
      display: none;
    }
  }
}

.loginButton {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 15px;

  svg {
    margin-right: 10px;
  }

  &:hover {
    color: #d5e8fc;
  }
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  @media (max-width: 740px) {
    gap: 4px;
  }
}
.rightSide{
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}

