.paper {
  width: 100%;
  margin-top: 4px;
  padding: 30px;

  p {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.title {
  font-weight: 500 !important;
  margin-bottom: 20px !important;
  font-size: 36px !important;
}

.userInfo {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  b {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
  }

  span {
    font-size: 16px;
    color: #2ea83a;
    font-weight: 500;
  }
}

.editorImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    display: block;
    max-width: 90%;
    max-height: 100%;
  }

  span {
    margin-top: 15px;
    color: #595959;
    font-style: italic;
  }
}

.paragraph {
  text-align: justify;
}

.code {
  width: 100%;
  background-color: #f7f4f3;
  line-height: 2.5;
  font-weight: 600;
  padding: 20px;
}
