.listItemUser {
  display: flex;
  gap: 24px;
  align-items: center;

  span {
    font-weight: 600;
    font-size: 20px;
  }
  @media (max-width: 576px) {
    .MuiAvatar-root{
      width: 50px !important;
    }
    span{
      font-size: 14px;
    }
  }
}