.title {
  font-weight: 500 !important;
  font-size: 22px !important;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.titleHeader {
  display: flex;
  justify-content: space-between;

  a + a {
    font-size: 12px;
    color: grey
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;

  img {
    display: block;
    max-height: 250px;
    max-width: 100%;
  }
}

.postWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .postHeader {
    display: flex;
    justify-content: space-between;
  }

  .postHeaderUser {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    p {
      font-size: 16px;
    }
  }

  .postHeaderInfo {
    p {
      margin: 0;
      padding: 0;
    }

    p+p {
      font-size: 10px;
      color: #6d6969
    }
  }
}
