html,
body {
  padding: 0;
  margin: 0;
  background-color: #e9e9ef;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  margin: 24px auto;
  min-height: 100%;
  width: 60%;

  @media (max-width: 740px) {
    width: 95%;
    margin: 40px auto;
  }

  &--full {
    width: 75%;
    @media (max-width: 740px) {
      width: 100%;
      margin: 40px auto;
    }
  }
}

.wrapper {
  display: flex;
  padding: 80px 30px 0;
  margin: 0 auto;
  .leftSide {
    width: 30%;
  }
  @media (max-width: 740px) {
    flex-direction: column;
    padding: 60px 0;
    .leftSide {
      position: fixed;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 0, .7);
      margin-top: 20px;
      padding-top: 24px;
    }
  }
}

.main-layout--white {
  height: 100vh;
}

.users-listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, .07);
  gap: 20px;
}
.profile{
  position: relative;
  .profile-avatar{
    width: 60%;
    height: auto;
    border-radius: 10%;
    align-self: center;
  }
  .settings{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

