html,
body {
  padding: 0;
  margin: 0;
  background: url('../public/static/img/paper2.jpg')  no-repeat;
  background-size: cover;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  margin: 24px auto;
  padding: 16px 18px;
  min-height: 100%;
  width: clamp(50%, 65%, 80%);
  //background-image: url("../public/static/img/paper4.jpg");
  background-color: rgba(0,0,0,.175);
  background-attachment: fixed;

  @media (max-width: 740px) {
    width: 95%;
    margin: 40px auto;
  }

  &--full {
    width: 75%;
    @media (max-width: 740px) {
      width: 100%;
      margin: 40px auto;
    }
  }
}

.wrapper {
  display: flex;
  padding: 80px 0 0;
  margin: 0 auto;
  min-height: 100vh;
  @media (max-width: 970px) {
    flex-direction: column;
    padding: 60px 0;
  }

  .leftSide {
    width: 25%;
    background-color: rgba(0,0,0,.75);
    @media (max-width: 970px) {
      position: fixed;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 0, .8);
      margin-top: 20px;
      padding-top: 24px;
    }
  }
}

.main-layout--white {
}

.users-listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, .07);
  gap: 20px;
  background-color: rgba(#000,.1);
}

.profile {
  position: relative;
  .profile-avatar {
    width: 60%;
    min-height: 100px;
    max-height: 450px;
    height: auto;
    border-radius: 10%;
    align-self: center;
  }

  .settings {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.profile-paper,{
  background-color: rgba(255,255,255,.4);
}
.MuiButtonBase-root{
  background-color: rgba(#000,.2);
}
.pagination{
  background-color: rgba(#000,.2);
}

